# {{ ansible_managed }}
# Sourced by /usr/local/bin/run-mail-canary. Pings the self-hosted
# Healthchecks loopback. Empty HC_PING_KEY = no-op.
HEALTHCHECKS_LOOPBACK_PORT={{ healthchecks_host_localhost_port }}
HC_PING_KEY={{ vault_healthchecks_ping_key | default('') }}
MAIL_CANARY_SLUG={{ mail_canary_slug }}
