# {{ ansible_managed }}
[Unit]
Description=Timer for the catena reboot-required probe

[Timer]
OnCalendar={{ reboot_check_schedule }}
RandomizedDelaySec=300
Persistent=true
Unit={{ reboot_check_systemd_unit_name }}.service

[Install]
WantedBy=timers.target
